@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lf-yellow: #FFB500;
  --lf-navy: #0A365D;
  --lf-white: #FFFFFF;
  --lf-black: #000000;
  --lf-foundation: #F47922;
  --lf-medical: #62C3A5;
  --lf-training: #04A9C7;
}

* {
  border-radius: 0 !important;
}
